@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-brand-bg text-brand-text;
  }
}